body, html {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center; /* Ensure vertical centering */
    border: 5px solid red;
    flex-direction: column; /* Default to column layout */
    height: 100vh; /* Full viewport height for vertical centering */
}

#main_div {
    border: 5px solid red;
    display: inline-flex;
    max-width: 75%;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Stack content vertically */
}

#example_post_image {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

@media (min-width: 900px) { /* Replace 600px with your desired screen width 'x' */
    body, html {
        flex-direction: row; /* Switch to row layout on larger screens */
    }
    
    #main_div {
        flex-direction: row; /* Display content side by side */
    }
    
    #example_post_image {
        max-height: 75%;
        max-width: 75%;
    }
}
